<html lang="en" data-bs-theme="dark"><head><script src="/docs/5.3/assets/js/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign in</title>

  <link href="/static/css/login.css" rel="stylesheet">
</head>

<body>

<form class="form-signin">
  <br>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <label for="floatingInput">username</label>
    <input id="username" type="username" placeholder="name@example.com">
    
    <br>
    <label for="floatingPassword">Password</label>
    <input id="password" type="password" placeholder="Password">
    
    <br>
    <button id="submit" type="submit">Sign in</button>

  </form>

  <script src="/static/js/login.js"></script>
</body>
</html>